@import '../../Css/CommonStyles.css';
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px var(--black-shadow);
  padding:20px
}
.nameView {
  /*margin-left: 50px;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nameText {
  font-size: 18px;
  color: black;
}
#headerTitle{
  color: var(--secondary-color);
  font-family: Poppins-Medium, sans-serif;
}

.logoutIcon{
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-right: 35px;
}

.logoutView{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  bottom: 0;
  background-color: var(--black-translucent);
}

.logoutCurveView{
  padding: 30px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.logoutTitlePopup{
  font-family: Poppins-Medium, sans-serif;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
}
#activeLogout{
  background-color: var(--secondary-color);
  color: white;
}
.logoutButton{
  padding: 5px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  font-family: Poppins-Medium, sans-serif;
  font-size: 16px;
  color: var(--secondary-color);
  border-radius: 8px;
  cursor: pointer;
  width: 140px;
}
.rowView{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}