/* YourComponentStyles.css */
@import '../../../Css/CommonStyles.css';
/*-webkit-tap-highlight-color: transparent; /*Remove blue highlight when click on div*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Optional: Slide up effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.projectTitle {
  font-family: Poppins-Medium, serif;
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-color);
  text-align: center;
}

.selectedProjectMainView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0 20px 0;
  background-color: white;
}

.rowView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.qrCodeMainView {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background-color: var(--secondary-color );
}
.qrCodeStyle {
  border-radius: 10px;
  padding: 3px;
  background-color: white;
}

#downloadAppText {
  color: white;
  margin-top: 5px;
  font-family: Poppins-SemiBold, serif;
  text-shadow: 1px 1px 1px var(--primary-color);
}

.titleRowView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectedProjectImageView {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.lineView {
  border-left: 2px solid darkgrey;
  height: 140px;
  margin-left: 20px;
  margin-right: 20px;
}
.columnView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
}

#projectItem {
  align-items: center;
}

.projectDescription {
  font-family: Poppins-Medium, serif;
  font-size: 16px;
  line-height: 20px;
  color: darkgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projectPortfolio {
  font-family: Poppins-Medium, serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-tap-highlight-color: transparent;
}

.screenLayoutMain {
  margin-top: 20px;
  margin-bottom: 20px;
}

.screenLayoutImage {
  height: 250px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.placeholderLogo{
  height: 50px;
  width: 50px;
  opacity: 0.5;
}
.screenLayouts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.screenLayoutColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;

}
.screenLayoutColumn:hover  {
  opacity: 1;
}
.screenLayoutColumn img {
  transition: transform 0.3s ease;
}

.screenLayoutColumn:hover img {
  transform: scale(1.1);
}
.techStackItemView {
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--primary-color);
  margin: 10px;
  border-radius: 25px;
  color: var(--primary-color);
  font-family: Poppins-Medium, serif;
  font-size: 16px;
}
.backArrow {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.projectDetailsView {
  display: flex;
  flex-direction: column;
}

.backView {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  color: black;
  cursor: pointer;
  font-family: Poppins-Medium, serif;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
}

.smallLineView {
  border-left: 2px solid #3c3c3c;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.screenLayoutItemText {
  font-size: 14px;
  color: darkgrey;
  font-family: Poppins-Medium, serif;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {

  .projectTitle {
    font-size: 14px;
    line-height: 18px;
  }
  .projectPortfolio {
    font-size: 14px;
  }
  .projectImageView {
    height: 70px;
    width: 70px;
    border-radius: 10px;
  }
  .backView {
    /*width: 100vw;*/
    overflow-y: auto;
    font-size: 14px;
    margin-right: 20px;
  }
  .projectDetailsView {
    width: 100vw;
  }
  .rowView {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .titleRowView {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
  }
  .lineView {
    display: none;
  }
  .techStackItemView {
    font-size: 10px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    border-radius: 10px;
  }
  .projectDescription {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .screenLayoutMain {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .screenLayoutImage {
    width: 100px;
    border-radius: 5px;
  }
  .screenLayouts {
    justify-content: flex-start;
  }
  .screenLayoutColumn {
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .screenLayoutItemText {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .backArrow {
    height: 14px;
    width: 14px;
    margin-right: 5px;
  }
}