@import '../../Css/CommonStyles.css';
.mainView {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-align: center;
}
