.mainView{
    background-color: var(--black-translucent);
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 93vw;
    height: 100vh;
    top:40px;
    position: absolute;
}
.imageView{

}
.image{
    height: 90vh;
    width: 20vw;
    border-radius: 10px;
}

.closeImageView{
    position: absolute;
    top:50px;
    right: 3vw;
    cursor: pointer;
}
.previousImageView{
    position: absolute;
    top:45vh;
    left: 3vw;
    cursor: pointer;
}
.nextImageView{
    position: absolute;
    top:45vh;
    right: 3vw;
    cursor: pointer;
}
#previousImage{
    transform: scaleX(-1);
}
.closeImage{
    height: 30px;
    width: 30px;
}

.titleView{
    top:50px;
    left: 30px;
    position: absolute;
}

.title{
    font-size: 20px;
    color: white;
    font-family: Poppins-SemiBold, sans-serif;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 768px) {
    .mainView{
        width: 100vw;
    }
    .image{
        height: 75vh;
        width: 70vw;
    }
}