@import '../../Css/CommonStyles.css';
.resumeMainView {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}
/* Optional: Hide scrollbar for Firefox */
.resumeMainView {
  scrollbar-width: none;
}
.resumeRowView {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
.resumeColumnView {
  display: flex;
  flex-direction: column;
}
.resumeProfileImage {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.resumeNameText {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}
.resumeTextSize18 {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}
.resumeVerticalLineView {
  width: 100%;
  height: 2px;
  background-color: #3c3c3c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resumeMarginView {
  margin-top: 10px;
}
.resumeWorkExperienceView {
  flex-direction: column;
}

#achievementTexts {
  color: var(--primary-color);
}

.skillsMainView {
  display: flex;
  flex-wrap: wrap;
}

.skillsChild {
  flex-basis: 25%;
  align-items: center;
  margin-top: 20px;
}

#skillItem {
  margin-left: 20px;
}

#projectSourceCode {
  margin-left: 5px;
  color: var(--primary-color);
}

.skillsCircleView {
  height: 18px;
  width: 18px;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#skillsRowView {
  justify-content: flex-start;
  align-items: center;
}

.socialImage {
  height: 18px;
  width: 18px;
}

.marginLeftView {
  margin-left: 5px;
}
