@import '../../Css/CommonStyles.css';
.mainView {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.columnView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.titleText {
  font-size: 18px;
  color: black;
  font-family: Poppins-Medium, serif;
}
.rowView {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 10px 0;
}
.skillsDataView {
  padding: 8px 12px 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  transition: color 0.5s;
  z-index: 1;
  border-radius: 6px;
  font-weight: 500;
  color: var(--secondary-color);
  font-family: Poppins-Medium, serif;
  font-size: 18px;
  height: 30px;
  width: 120px;
  justify-content: center;
  align-items: center;
}

.skillsDataView:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--primary-color);
  border-radius: 50%;
}

.skillsDataView:hover:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--primary-color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.skillsDataView:hover {
  color: #fff;
  border: 2px solid var(--primary-color);
}

.skillsDataView:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.skillsDataView:hover:before {
  top: -30px;
  left: -30px;
}

@media only screen and (max-width: 768px) {
  .mainView {
    margin-left: 20px;
    margin-right: 20px;
  }
  .titleText {
    font-size: 14px;
    color: black;
  }
  .skillsDataView {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 25px;
    width: 100px;
  }
}
