:root {
  --primary-color: #9c488e;
  --secondary-color: #9a9aff;
  --light-primary: #9c488e;
  --bright-primary: #f37f67;
  /*--bg-color: var(--bg-color);*/
  --bg-color: #ffff;
  --white: white;
  --black: black;
  --black-shadow: rgba(0, 0, 0, 0.1);
  --black-translucent: rgba(0, 0, 0, 0.85);
  --black-dark-shadow: rgba(0, 0, 0, 0.8);
  --grey: #afafaf;
}
